:root {
  --nav-height: 5rem;
  --logo-width-mobile: 100px;
  --logo-width-tablet: 120px;
  --logo-width-desktop: 150px;
  
  --font-size-mobile: 1rem;
  --font-size-tablet: .7rem;
  --font-size-desktop: 1rem;
  --font-size-lg: 1rem;

  --search-text: #929292;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: var(--logo-width-mobile);
  height: auto;
}

.App {
  min-height: 100vh;
  width: 85vw;
  margin: 0rem auto;
}

body {
  max-width: 100%;
  overflow: hidden;
  background-color: #f6f6f6;
}

nav {
  margin: .3rem 1.5rem 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: var(--nav-height);
}

.navbar-links-container a {
  display: none;
}

.navbar-right-container {
  display: flex;
  align-items: center;
}

.search-icon-container {
  display: none;
}

.primary-search-bar {
  display: none;
}

.navbar-menu-container {
  display: block;
  margin-right: 1rem;
  cursor: pointer;
}

.account-icon {
  display: none !important;
}

@media (min-width: 768px) {
  .nav-logo-container {
    max-width: var(--logo-width-tablet);
    margin-left: 1.5rem;
    margin-top: .5rem;
  }

  .navbar-menu-container {
    display: none;
  }

  .navbar-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 2rem; 
    margin: 0 2rem; 
  }

  .navbar-links-container a {
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: var(--font-size-tablet);
    font-weight: 500;
    transition: color 0.3s ease;
  }

  .navbar-links-container a:hover {
    color: #555;
  }

  .search-icon-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .primary-search-bar {
    display: block;
    width: 7rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 2rem;
    border: 1px solid #ccc;
    font-size: 0.5rem;
    margin-top: 1rem;
  }

  .account-icon {
    display: flex !important;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 1rem;
  }

  .account-icon:hover {
    color: #555;
  }
}

@media (min-width: 1024px) {
  .nav-logo-container img {
    max-width: var(--logo-width-desktop);
  }

  .navbar-links-container {
    gap: 3rem;
  }
  
  .navbar-links-container a {
    font-size: var(--font-size-desktop);
  }

  .primary-search-bar {
    width: 10rem;
    font-size: 0.7rem;
  }

  .search-icon-container {
    gap: 1rem;
  }
  .account-icon {
    margin-right: 1rem;
  }
}